@import '_fonts.scss';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import '_index.scss';
@import '_cardapio.scss';
@import '_catalogo.scss';
@import '_formulario.scss';
@import '_informacoes.scss';