@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --backgroundColor: #000;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  max-width: 1280px;
  min-width: 1280px;
  height: auto;
  margin: 0px auto;
  -webkit-box-shadow: 0px 0px 0px 2px white;
          box-shadow: 0px 0px 0px 2px white;
}

.container h1.titulo_pagina {
  font-family: lobster;
  text-align: center;
  background-color: rgba(0, 0, 102, 0.75);
  color: white;
}

.container ul.menu {
  width: 100%;
  height: 40px;
  background-color: var(--backgroundColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 20;
}

.container ul.menu li {
  padding: 0px 14px;
}

.container ul.menu li a {
  text-decoration: none;
  color: white;
  font-family: roboto;
}

.container picture.destaques {
  width: 100%;
  height: 500px;
  display: block;
  position: relative;
}

.container picture.destaques img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: var(--pos);
     object-position: var(--pos);
}

.container picture.destaques .visible {
  -webkit-transition: opacity 3s linear;
  transition: opacity 3s linear;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.container picture.destaques .invisible {
  -webkit-transition: opacity 3s linear;
  transition: opacity 3s linear;
  opacity: 0;
}

.container picture.destaques ul {
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 64px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container picture.destaques ul li.loading {
  width: 30px;
  background-color: white;
  margin: 0px 6px;
  border-radius: 5px;
  overflow: hidden;
}

.container picture.destaques ul li.loading div {
  width: 0%;
  height: 6px;
  display: block;
  background-color: blue;
}

.container picture.destaques ul li.loading .loading_complete {
  -webkit-transition: 3s linear;
  transition: 3s linear;
  width: 100%;
}

.container picture.destaques ul li.loading .loading_reset {
  -webkit-transition: unset;
  transition: unset;
  width: 0%;
}

.container .divisor {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
  margin-top: -70px;
}

.container .divisor h2 {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50px;
  z-index: 2;
  color: white;
  font-family: roboto;
}

.container .divisor::after {
  content: '';
  width: 110%;
  height: 200px;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -5%;
  background-color: var(--backgroundColor);
  -webkit-box-shadow: 0px 0px 10px 2px black;
          box-shadow: 0px 0px 10px 2px black;
}

.container .my_box {
  --my_height_cont: calc(var(--my_height_box) - 100px);
  --my_height_img: calc(var(--my_height_cont) + 80px);
  width: 100%;
  height: var(--my_height_box);
  background-color: black;
  position: relative;
}

.container .my_box .cont {
  width: 900px;
  height: var(--my_height_cont);
  float: var(--myfloat);
  margin: 50px;
  background-color: #000066;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 10px 10px 20px -12px cyan;
          box-shadow: 10px 10px 20px -12px cyan;
}

.container .my_box .cont .mypicture {
  width: 35%;
  height: 100%;
  position: relative;
  opacity: 0;
  -webkit-transform: var(--my_transform);
          transform: var(--my_transform);
}

.container .my_box .cont .mypicture img {
  width: 100%;
  height: var(--my_height_img);
  margin-top: -40px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 8px solid white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 2px black;
          box-shadow: 0px 0px 10px 2px black;
}

.container .my_box .cont .mypicture button {
  width: 100px;
  height: auto;
  color: white;
  position: absolute;
  bottom: 5%;
  left: 107.5px;
  font-size: 14px;
  font-family: roboto;
  cursor: pointer;
  color: blue;
  -webkit-box-shadow: 0px 0px 6px 4px black;
          box-shadow: 0px 0px 6px 4px black;
}

.container .my_box .cont .myTransition {
  -webkit-transition: 3s;
  transition: 3s;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.container .my_box .cont .description {
  width: 55%;
  height: 100%;
  color: white;
  border-radius: 40px;
}

.container .my_box .cont .description h2 {
  text-align: center;
  font-family: roboto;
  margin: 10px 0px;
}

.container .my_box .cont .description ul.valores {
  width: 100%;
  list-style-type: none;
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .my_box .cont .description ul.valores li {
  text-align: left;
  font-family: roboto;
  font-size: 18px;
  letter-spacing: 1px;
}

.container .my_box .cont .description p.descricao {
  font-size: 16px;
  text-indent: 20px;
  font-family: roboto;
  letter-spacing: 1px;
  line-height: 22px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.container .cardapio {
  width: 100%;
  height: auto;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: gray;
  position: relative;
}

.container .cardapio::after {
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  border-radius: 50% 50% 0px 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--backgroundColor);
  -webkit-box-shadow: 0px 0px 10px 2px black;
          box-shadow: 0px 0px 10px 2px black;
}

.container .cardapio::before {
  content: '';
  width: 100%;
  height: 100px;
  display: block;
  border-radius: 0px 0px 50% 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--backgroundColor);
  -webkit-box-shadow: 0px 0px 10px 2px black;
          box-shadow: 0px 0px 10px 2px black;
}

.container .cardapio h2 {
  text-align: center;
  margin: 20px 0px;
  font-family: roboto;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: underline;
}

.container .cardapio ul.cardapio_categorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .cardapio ul.cardapio_categorias .active {
  -webkit-box-shadow: 0px 0px 0px 4px blue;
          box-shadow: 0px 0px 0px 4px blue;
}

.container .cardapio ul.cardapio_categorias li {
  width: calc(100% / 7);
  border-radius: 50%;
  overflow: hidden;
  margin: 0px 10px;
  position: relative;
  border: 4px solid white;
  -webkit-box-shadow: 0px 0px 10px 5px black;
          box-shadow: 0px 0px 10px 5px black;
  cursor: pointer;
}

.container .cardapio ul.cardapio_categorias li::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 30px 10px black;
          box-shadow: inset 0px 0px 30px 10px black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.container .cardapio ul.cardapio_categorias li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .cardapio ul.cardapio_categorias li p {
  width: 100%;
  background-color: black;
  position: absolute;
  top: 45%;
  color: white;
  text-align: center;
  font-family: lobster;
  opacity: 0.7;
  font-size: 20px;
}

.container .cardapio div.cardapio_itens {
  width: 80%;
  height: 445px;
  margin: 40px auto;
  border-radius: 20px;
  background-image: url(../midias/jpg/cardapio/cardapio.jpg);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 10px 10px black;
          box-shadow: 0px 0px 10px 10px black;
  overflow: hidden;
  position: relative;
}

.container .cardapio div.cardapio_itens .invisible {
  display: none;
}

.container .cardapio div.cardapio_itens .visible {
  display: unset;
}

.container .cardapio div.cardapio_itens ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  list-style-type: none;
  background-color: #00000090;
}

.container .cardapio div.cardapio_itens ul li {
  margin: 18px 0px;
  font-family: roboto;
  color: white;
  text-indent: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px black;
}

.container .cardapio div.cardapio_itens ul li .titulo {
  font-size: 24px;
}

.container .cardapio div.cardapio_itens ul li .descricao {
  font-size: 18px;
}

.container .casal {
  width: 100%;
  height: 400px;
  position: relative;
}

.container .casal img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px -160px;
     object-position: 0px -160px;
}

.container .casal::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0px 0px 60px 60px black;
          box-shadow: inset 0px 0px 60px 60px black;
  position: absolute;
  top: 0px;
  left: 0px;
}

.container .casal p {
  width: 100%;
  height: auto;
  color: white;
  position: absolute;
  text-align: center;
  top: 45%;
  font-size: 40px;
  font-family: lobster;
  z-index: 3;
}

.container .contato {
  width: 100%;
  height: auto;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .contato h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
  font-family: roboto;
  color: white;
  font-size: 30px;
  letter-spacing: 4px;
  text-decoration: underline;
}

.container .contato .contato_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container .contato .contato_container ul {
  list-style-type: none;
  text-align: center;
}

.container .contato .contato_container ul li {
  font-family: roboto;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
}

.container .contato .contato_container ul li img {
  height: 100%;
  height: 40px;
}

.container .contato .contato_container ul li a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0px;
}

.container .contato .rodape {
  text-align: center;
  color: white;
  font-family: roboto;
  margin: 20px 0px;
}

.container .viewer_box_active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  background-color: black;
  z-index: 2;
}

.container .viewer_box_active picture {
  width: 1280px;
  height: 100vh;
  margin: auto;
  position: relative;
}

.container .viewer_box_active picture .alert {
  color: white;
  position: absolute;
  top: 0%;
  left: 30%;
  font-size: 26px;
  width: 40%;
  font-family: 'Roboto';
  text-align: justify;
  background: black;
  border-radius: 20px;
  padding: 20px;
}

.container .viewer_box_active picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.container .viewer_box_active picture #left, .container .viewer_box_active picture #right, .container .viewer_box_active picture #close {
  width: auto;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  color: white;
  border: none;
  background-color: transparent;
}

.container .viewer_box_active picture #left i, .container .viewer_box_active picture #right i, .container .viewer_box_active picture #close i {
  font-size: 100px;
  cursor: pointer;
  text-shadow: 0px 0px 10px black;
}

.container .viewer_box_active picture #right {
  left: unset;
  right: 0px;
}

.container .viewer_box_active picture #close {
  height: auto;
  left: unset;
  right: 0px;
  top: 0px;
}

.container .viewer_box_inactive {
  display: none;
}
/*# sourceMappingURL=style.css.map */v, .presPlus #viewFull #prev {
    background: black;
    background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(254, 254, 254, 0)));
    background: linear-gradient(90deg, black 0%, rgba(254, 254, 254, 0) 100%);
    left: 0px;
  }
  .luxoSimples #viewFull #next, .luxoStander #viewFull #next, .glamour #viewFull #next, .executiva #viewFull #next, .presRom #viewFull #next, .presPlus #viewFull #next {
    background: black;
    background: -webkit-gradient(linear, right top, left top, from(black), to(rgba(254, 254, 254, 0)));
    background: linear-gradient(270deg, black 0%, rgba(254, 254, 254, 0) 100%);
    right: 0px;
  }
  .luxoSimples #viewFull #close, .luxoStander #viewFull #close, .glamour #viewFull #close, .executiva #viewFull #close, .presRom #viewFull #close, .presPlus #viewFull #close {
    width: 100px;
    height: 100px;
    right: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0);
  }
  .mobile_cardapio {
    width: 100vw;
    height: auto;
  }
  .mobile_cardapio ul {
    width: 100%;
  }
  .mobile_cardapio ul li {
    height: calc(100vh / 7);
    position: relative;
    background: black;
    background: -webkit-gradient(linear, left top, right top, color-stop(40%, black), to(rgba(3, 0, 111, 0)));
    background: linear-gradient(90deg, black 40%, rgba(3, 0, 111, 0) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid white;
  }
  .mobile_cardapio ul li img {
    position: absolute;
    right: 0px;
    width: 60%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
  }
  .mobile_cardapio ul li p {
    position: absolute;
    left: 0px;
    font-family: redressed;
    color: white;
    line-height: 100%;
    width: 100%;
    text-indent: 20px;
    font-size: 26px;
  }
  .cardapioItens {
    width: 100vw;
    height: 100vh;
    background-color: #000e40;
  }
  .cardapioItens .container {
    border: 2px solid white;
    border-radius: 0px 0px 20px 20px;
    background-color: black;
    color: white;
    overflow: hidden;
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 4px 10px 0px white;
            box-shadow: 0px 4px 10px 0px white;
  }
  .cardapioItens .container picture {
    width: 100%;
    height: 180px;
    display: block;
    position: relative;
  }
  .cardapioItens .container picture::after {
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 30px 30px black;
            box-shadow: inset 0px 0px 30px 30px black;
  }
  .cardapioItens .container picture img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: var(--imgPosition);
       object-position: var(--imgPosition);
  }
  .cardapioItens .container h2 {
    font-family: redressed;
    text-align: center;
    font-size: 40px;
  }
  .cardapioItens .container p.titulo {
    font-family: oswald;
    font-size: 22px;
    text-decoration: underline;
    text-indent: 10px;
  }
  .cardapioItens .container p.descricao {
    font-family: oswald;
    text-indent: 10px;
    margin-left: 10px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  .cardapioItens .container p.descricao::after {
    content: '';
    width: 100vw;
    height: 2px;
    display: block;
    background-color: gray;
    margin: 10px 0px 10px -10px;
  }
  .cardapioItens .container p.descricao:last-child {
    margin-bottom: 10px;
  }
  .cardapioItens .container p.descricao:last-child::after {
    display: none;
  }
  .cardapioItens #bebidas {
    margin-bottom: 0px;
  }
  .cardapioItens::after {
    content: '';
    width: 100%;
    height: 20px;
    display: block;
  }
  .mobile_contato ul {
    width: 100vw;
  }
  .mobile_contato ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 2px solid gray;
  }
  .mobile_contato ul li img {
    width: 96px;
    height: 96px;
    border-radius: 10px;
  }
  .mobile_contato ul li i {
    font-size: 70px;
    width: 96px;
    height: 96px;
  }
  .mobile_contato ul li div {
    width: 100%;
  }
  .mobile_contato ul li div h2 {
    font-family: redressed;
    text-align: left;
  }
  .mobile_contato ul li div p {
    font-family: oswald;
    text-indent: 10px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
  }
  .mobile_contato ul li div p a {
    text-decoration: underline;
  }
  .mobile_contato li:nth-child(5) img, .mobile_contato li:nth-child(6) img {
    padding: 11px;
    border-radius: 22px;
  }
}
/*# sourceMappingURL=style.css.map */