// example $colorBackground: #ccccff;
$color1: #ffffff;
$color2: #fff0ea;
$color3: #d4734c;
$color4: #c63800;
$color5: #772201;
$dark-color1: #2C3333;
$dark-color2: #395B64;
$dark-color3: #A5C9CA;
$dark-color4: #E7F6F2;

:root {
    --color1: #ffffff;
    --color2: #fff0ea;
    --color3: #d4734c;
    --color4: #c63800;
    --color5: #772201;
    --dark-color1: rgb(44, 51, 51);
    --dark-color2: rgb(57, 91, 100);
    --dark-color3: rgb(165, 201, 202);
    --dark-color4: rgb(231, 246, 242);
}