body.cardapio {
    background-color: black;
    padding-bottom: 68px;

    .container {
        width: 100%;
        height: auto;
        .container-titulo-top {
            width: 100%;
            height: auto;
            position: relative;
            position: sticky;
            top: 0px;
            color: white;
            padding: 10px 0px;
            z-index: 40;
            background-color: black;

            h2 {
                text-align: center;
                font-family: var(--font2);
            }

            .bx-menu,
            .bx-x {
                width: 50px;
                height: 50px;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                font-size: 40px;
                text-align: center;
                line-height: 50px;
                animation-iteration-count: 4;
            }
        }

        .boxFilter {
            width: 100%;
            max-height: 0px;
            display: block;
            overflow: hidden;

            h3 {
                width: 100%;
                background-color: white;
                color: black;
                font-family: var(--font1);
                text-align: center;
                border-radius: 50px 50px 0px 0px;
                margin: 10px 0px 0px 0px;

                &:nth-child(2) {
                    margin-bottom: 0px;
                }
            }

            ul {
                width: 100%;
                height: auto;
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border: 2px solid white;
                padding: 10px;
                border-radius: 0px 0px 20px 20px;

                li {
                    width: fit-content;
                    height: fit-content;
                    font-family: var(--font1);
                    padding: 10px;
                    margin: 4px;
                    // border: 2px solid green;
                    hyphens: auto;
                    background-color: rgba($color: white, $alpha: .1);
                    border-radius: 10px;
                    color: white;
                }
            }
        }

        picture {
            width: 100%;
            height: 200px;
            display: block;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 200px;
                display: block;
                box-shadow: inset 0px 0px 40px 30px black;
                // z-index: 3;
                position: absolute;
                top: 0px;
            }

            img.foto-destaque {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 2s;
                &:last-child {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }

        .cardapio-itens {
            width: 100%;
            list-style-type: none;

            .all-cont-itens {
                width: 100%;
                overflow: hidden;
                border-radius: 20px 20px 0px 0px;
                margin: 20px 0px;
                padding: 0px 10px;

                li {
                    width: 100%;
                    color: white;
                    padding: 10px 10px;
                    border-bottom: 2px solid gray;
                    font-family: var(--font5);

                    &:first-child {
                        display: unset;
                        border: none;
                        padding: 0px;
                    }

                    .itemValue,
                    .itemDescription {
                        width: 100%;
                        hyphens: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .value {
                            min-width: 80px;
                            text-align: right;
                        }

                        .description {
                            font-family: var(--font3);
                            color: white;
                        }
                    }

                    .itemDescription {
                        margin: 4px auto;
                    }

                    h3 {
                        color: black;
                        font-size: 20px;
                        text-align: center;
                        padding: 4px 0px;
                        background-color: white;
                        border-radius: 20px 20px 0px 0px;
                    }
                }
            }
        }
    }
}