body.catalogo {
    background-color: black;
    padding-bottom: 88px;

    .container {
        width: 100%;
        height: auto;

        .container-titulo-top {
            width: 100%;
            height: auto;
            position: relative;
            position: sticky;
            top: 0px;
            color: white;
            padding: 10px 0px;
            z-index: 40;
            background-color: black;

            // box-shadow: 0px 0px 10px white; // não funciona devido zindex
            h2 {
                text-align: center;
                font-family: var(--font2);
            }

            .bx-menu,
            .bx-x {
                width: 50px;
                height: 50px;
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                font-size: 40px;
                text-align: center;
                line-height: 50px;
                animation-iteration-count: 4;
            }
        }

        picture {
            width: 100%;
            height: 200px;
            display: block;
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 200px;
                display: block;
                box-shadow: inset 0px 0px 40px 30px black;
                // z-index: 3;
                position: absolute;
                top: 0px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .catalogo-box-itens {
            --foto-produto: 100px;
            width: 96%;
            height: auto;
            background-color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // padding: 0px 20px;
            margin: auto;
            border: 2px solid white;
            border-radius: 20px;
            overflow: hidden;
            padding-bottom: 20px;

            h3 {
                width: 100%;
                height: auto;
                background-color: white;
                text-align: center;
                display: block;
                // margin-top: -6px;
                // border-radius: 20px 20px 0px 0px;
                font-family: var(--font5);
                font-size: x-large;
                border-bottom: 2px solid black;
                // border-bottom: 2px solid cyan;
            }

            .item {
                width: 94%;
                height: auto;
                // background: rgb(252,252,252);
                // background: linear-gradient(130deg, rgba(252,252,252,1) 0%, rgba(0,0,0,1) 33%, rgba(184,0,8,1) 67%, rgba(209,0,143,1) 100%);
                background-color: rgba(184, 0, 8, 1);
                background-color: white;
                margin-top: 20px;
                display: flex;
                border-bottom: 2px solid black;
                border-radius: 0px 0px 40px 0px;
                overflow: hidden;
                box-shadow: 2px 2px 6px rgb(255, 0, 255);

                // &:nth-child(2) {
                //     margin-top: 0px;
                // }
                figure {
                    width: var(--foto-produto);
                    height: var(--foto-produto);
                    margin: 0px;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .description {
                    width: calc(100% - var(--foto-produto));
                    height: auto;
                    display: flex;
                    flex-direction: column;

                    .titulo {
                        text-align: center;
                        font-family: var(--font5);
                        // font-size: large;
                        padding: 4px 0px;
                    }
                    button {
                        // width: 50%;
                        padding: 4px 10px;
                        margin: auto;
                        text-align: center;
                        border-radius: 4px;
                        background-color: rgba($color: #1800a3af, $alpha: 1.0);
                        color: white;
                        border: none;
                    }
                    .valor {
                        width: 100%;
                        text-align: center;
                        font-family: var(--font3);
                        font-size: 24px;
                    }


                    .details {
                        font-family: var(--font3);
                        font-size: small;
                        max-height: 0px;
                        overflow: hidden;
                        text-indent: 16px;
                        hyphens: auto;
                        transition: 0.1s;

                        &.on {
                            max-height: 100vh;
                            transition: max-height 1s;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
}