.informacoes {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding: 0px 20px;
    padding-bottom: 60px;
    h2 {
        width: 100%;
        text-align: center;
        font-family: var(--font5);
        padding: 10px 0px;
    }
    .list {
        list-style-position: inside;
        li {
            margin-bottom: 30px;
        }
        .pergunta {
            font-family: var(--font5);
            margin-bottom: 10px;
        }
        .resposta {
            font-family: var(--font3);
        }
    }
}