# <IfModule mod_rewrite.c>
# </IfModule>

#RewriteEngine On
#RewriteRule 'Início' index.php
#RewriteRule 'Suíte Luxo Simples' luxoSimples.php
#RewriteRule 'Suíte Luxo Stander' luxoStander.php
#RewriteRule 'Suíte Glamour' glamour.php
#RewriteRule 'Suíte Executiva' executiva.php
#RewriteRule 'Suíte Presidencial Romana' presRom.php
#RewriteRule 'Suíte Presidencial Plus' presPlus.php
#RewriteRule 'Cardápio' cardapio.php

Options -Indexes

Header set Cache-Control 'max-age=43200, public'
# max-age=600 significa que a duração do cache é de 600 segundos
# .htacess sempredeve ficar na pasta_raiz do site
# O primeiro nome após RewriteRule é o nome de direcionamento o segundo é o caminho a partir de .htacess
# Não é necessário colocar IfModule

# "Options -Indexes" Impede navegação por diretórios no servidor

# serve para adicionar a entrada 'Cache-Control' no HEADER HTTP